* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
    background-color: rgb(65, 82, 94);
    height: 60px;
    font-size: 40px;
}

.bg {
background: url('/public/img/vienna-reyes-Zs_o1IjVPt4-unsplash.jpg') center/cover;
height: 85vh;
color: white;
text-align: center;
padding-top: 20%;
font-size: 40px;
}

.bg a {text-decoration: none;}
    